@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');
                                       
                                       :root {
                                          --color1: #1f2933;
                                          --color2: #339972;
                                          --color3: #eee;
                                      }
                                      
                                      section {
                                          padding: 100px 0;
                                      }
                                      
                                      header {
                                          padding: 180px 0;
                                      }
                                      
                                      section {
                                          padding: 70px;
                                      }
                                      
                                      header,
                                      footer {
                                          background: url(../img/pngwing.com.png), var(--color1);
                                          background: url(../img/pngwing.com.png), -moz-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
                                          background: url(../img/pngwing.com.png), -webkit-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
                                          background: url(../img/pngwing.com.png), linear-gradient(to right, var(--color1) 0%, var(--color2) 100%);
                                          background-size: contain;
                                      }
                                      
                                      .bbt_play {
                                          background-color: var(--color1);
                                          width: 60px;
                                          height: 60px;
                                          border-radius: 50%;
                                          display: flex;
                                          justify-content: center;
                                          align-items: center;
                                          cursor: pointer;
                                          margin: 30px auto;
                                          transition: all 0.2s ease;
                                      }
                                      
                                      .bbt_play:hover {
                                          background-color: var(--color2);
                                      }
                                      
                                      .bbt_triangle {
                                          margin-right: -3px;
                                          width: 0;
                                          height: 0;
                                          border-style: solid;
                                          border-width: 10px 0 10px 20px;
                                          border-color: transparent transparent transparent var(--bs-white);
                                      }
                                      
                                      .btn-bbt {
                                          display: block;
                                          max-width: 400px;
                                          margin: 0 auto;
                                          padding: 8px 30px;
                                          color: var(--bs-white);
                                          background-color: var(--color2);
                                      }
                                      
                                      .btn-bbt:hover {
                                          color: var(--bs-white);
                                          background-color: var(--color1);
                                      }
                                      
                                      .embed-container {
                                          position: relative;
                                          padding-bottom: 56.25%;
                                          height: 0;
                                          overflow: hidden;
                                          max-width: 100%;
                                      }
                                      
                                      .embed-container iframe,
                                      .embed-container object,
                                      .embed-container embed {
                                          position: absolute;
                                          top: 0;
                                          left: 0;
                                          width: 100%;
                                          height: 100%;
                                      }
                                      
                                      .color1 {
                                          color: var(--color1);
                                      }
                                      
                                      .color2 {
                                          color: var(--color2);
                                      }
                                      
                                      .bg1 {
                                          background-color: var(--color1);
                                      }
                                      
                                      .bg2 {
                                          background-color: var(--color2);
                                      }
                                      
                                      footer {
                                          padding: 30px 0;
                                      }
                                      
                                      .donate {
                                          background-color: var(--color3);
                                      }
                                      
                                      .nav-item a,
                                      a {
                                          color: #b1b4bd;
                                          font-weight: 500;
                                      }
                                      
                                      .nav-item a:hover {
                                          color: #339972;
                                      }

                                      .header-background{
                                        position: static;
                                        display: block;
                                        overflow: visible;
                                        top: 0;
                                        height: auto;
                                        min-height: 750px;
                                        padding-bottom: 70px;
                                        flex-direction: column;
                                        background-position: 0px 0px, 100% 50%;
                                        background-size: auto, cover;
                                        white-space: normal;
                                        object-fit: fill;
                                        -webkit-box-orient: vertical;
                                        -webkit-box-direction: normal;
                                        -ms-flex-direction: column;
                                      }
                                      
                                      .sticky-nav {
                                          position: sticky;
                                          top: 0px;
                                          padding: 20px;
                                          z-index: 1;
                                          align-self: auto;
                                          -ms-flex-item-align: auto;
                                          -ms-grid-row-align: auto;
                                          background-color: rgba(12, 32, 59, 0.5);
                                          -webkit-box-ordinal-group: 1;
                                          -webkit-order: 0;
                                          -ms-flex-order: 0;
                                          order: 0;
                                          transition: top 0.3s;
                                      }
                                      
                                      .navbar .navbar-brand a {
                                          padding: 1rem 0;
                                          display: block;
                                          text-decoration: none;
                                          font-size: 2.2rem;
                                          color: white;
                                      }
                                      
                                      .navbar-brand {
                                          font-size: 2.2rem;
                                          color: white;
                                      }
                                      
                                      .navbar-toggler {
                                          border: none;
                                          padding: 10px 6px;
                                          outline: none;
                                      }
                                      
                                      .navbar-toggler span {
                                          display: block;
                                          width: 22px;
                                          height: 2px;
                                          border: 1px;
                                          background-color: white;
                                      }
                                      
                                      .navbar-toggler span+span {
                                          width: 22px;
                                          margin-top: 4px;
                                      }
                                      
                                      .navbar-toggler span+span+span {
                                          width: 22px;
                                      }

                                      footer#footer-1 {
                                        background-color: #1f2933;
                                        font-family: 'Share Tech Mono';
                                      }